<div class="navbar-container">
  <div class="main-text-section-container">
    <div class="main-text-section">
      <h1 class="main-text">WHO ARE WE?</h1>
    </div>
  </div>
  <app-overlay></app-overlay>
  <div class="our-mission-section-wrapper">
    <div class="wrapper">
      <div class="image-wrapper col-6">
        <div class="our-mission-image-wrapper">
          <img src="assets/Our-Mission-min.jpg" alt="" class="our-mission-image">
        </div>
      </div>
      <div class="our-mission-text-wrapper col-6">
        <div class="text-wrapper">
          <h2 class="our-mission-title">
            Our Mission
          </h2>
          <p class="our-mission-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, esse eveniet exercitationem, itaque libero minima molestias nisi officia sunt temporibus veniam voluptate voluptatum! Accusantium consequatur dicta esse nostrum obcaecati veniam!
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-call-to-action></app-call-to-action>
  <app-footer-features></app-footer-features>
</div>
