
.image-container {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-image:url('../../../../assets/home-background.jpg');
  height:44.50em;
}

@media (min-width: 1400px) {
  .image-container {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url('../../../../assets/home-background.jpg');
    height:44.50em;
  }
}

@media (min-width: 1100px) and (max-width: 1400px) {
  .image-container {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url('../../../../assets/home-background.jpg');
    height:37.50em;
  }
}


@media (min-width: 800px) and (max-width: 1100px) {
  .image-container {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url('../../../../assets/home-background.jpg');
    height:30.50em;
  }
}


@media (max-width: 800px) {
  .image-container {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url('../../../../assets/home-background.jpg');
    height:22.50em;
  }
}
