<div class="call-to-action-wrapper">
  <div class="content-container">
    <div class="content">
      <h2 class="main-text">
        Give the Gift of a Postcard
      </h2>
      <p class="secondary-text">
        Give the gift of a lasting memory with a postcard
      </p>
      <div class="purchase-button-wrapper">
        <span class="purchase-button-back" [routerLink]="['/shop']">
          <a class="purchase-button" >Purchase a Postcard</a>
        </span>
      </div>
    </div>
  </div>
</div>
