<div class="feature-container">
  <div class="feature-wrapper">
    <div class="icon-wrapper">
      <i class="fa-solid fa-lock icon"></i>
    </div>
    <div class="content">
      <h2 class="main-text">Secure Payment</h2>
      <p class="secondary-text">All our payments our SSL secured</p>
    </div>
  </div>
  <div class="breaker">

  </div>
  <div class="feature-wrapper">
    <div class="icon-wrapper">
      <i class="fa-solid fa-box icon"></i>
    </div>
    <div class="content">
      <h2 class="main-text">Delivered with care</h2>
      <p class="secondary-text">Super fast shipping to your door</p>
    </div>
  </div>
  <div class="breaker">

  </div>
  <div class="feature-wrapper">
    <div class="icon-wrapper">
      <i class="fa-solid fa-hand-holding-heart icon"></i>
    </div>
    <div class="content">
      <h2 class="main-text">EXCELLENT SERVICE</h2>
      <p class="secondary-text">Live chat and phone support</p>
    </div>
  </div>
</div>
