/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #007ECD;
  --secondary-color: #995DBC;
  --hover-color: #C73D91;
  --secondary-text-color: #585858;
  --text-color: #2d2d2d;
  --breaker-border-color: #eae9ec;
}
