<div class="navbar-container">
  <div class="main-text-section-container">
    <div class="main-text-section">
      <h1 class="main-text">ARCADE</h1>
      <h2 class="main-text-2">MULTIPURPOSE STORE</h2>
      <div class="shop-button-wrapper">
        <span class="shop-button-back" [routerLink]="['/shop']">
          <a class="shop-button" [routerLink]="['/shop']">SHOP NOW</a>
        </span>
      </div>
    </div>
  </div>
  <app-overlay></app-overlay>
  <app-product-cell></app-product-cell>
  <app-customer-review></app-customer-review>
  <app-call-to-action></app-call-to-action>
  <app-footer-features></app-footer-features>

</div>
